<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
    <class name="xuriti.TC_0001_LoginModule"/>
      <class name="xuriti.TC_0002_CreateCompany"/>
      <class name="xuriti.TC_0003_ApproveCompany"/>
      <class name="xuriti.TC_0004_CreateSellerCreditPlan"/>
      <class name="xuriti.TC_0005_AddBuyerInSellerCreditPlan"/>
      <class name="xuriti.TC_0006_NBFC_BuyerMapping"/>   
      <class name="xuriti.TC_0007_CreditLimitApproval"/>
      <class name="xuriti.TC_0008_UploadExcelInvoice"/>
      <class name="xuriti.TC_0009_ConfirmBuyerInvoice"/>
      <class name="xuriti.TC_0010_PaidInvoice"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
